.reviewerName{
    color: #f59e0b
    ;
}
.reviewerName{
    font-weight: bold;
    justify-content: space-between;
}

hr{
    margin: 10px 0;
    border-top: 1px dashed #f59e0b;
}
i{
    color: #f59e0b;
}